fieldset
  legend Delivery Address
  label(for="address") Address
  input(name="address" placeholder="Address" type="text")
  label(for="lotBlock") Lot and Block
  input(name="lotBlock" placeholder="Lot and Block" type="text")
  label(for="city" type="text") City 
  input(name="city" placeholder="City" type="text")
  label(for="state") State
  input(name="state" placeholder="State" type="text")
  label(for="zip") Zip
  input(name="zip" placeholder="Zip" type="text")