include ../mixins/card
include ../mixins/inputs
include ../mixins/table


mixin packageInfo(options)
  - const {bodyContent, packages, refrigerators, w_ds, w_dItems, packageItems, fridgeItems} = options
  script(src="/js/orderForm.bundle.js")
  - const tableCols = [{name: "Category", selector: "category"}, {name: "Product Number", selector: "product_number"}, {name: "Description", selector: "description"}]
  - const tableRows = []
  if packageItems
    each pkgItem in packageItems
      - tableRows.push({ class: 'packageItem', category: pkgItem.category, product_number: pkgItem.product_number, description: pkgItem.description })
  if fridgeItems
    each fridgeItem in fridgeItems
      - tableRows.push({ class: 'frgItem', category: fridgeItem.category, product_number: fridgeItem.product_number, description: fridgeItem.description })
  if w_dItems
    each wdItem in w_dItems
      - tableRows.push({ class: 'wdItem', category: wdItem.category, product_number: wdItem.product_number, description: wdItem.description })

  +card({cardTitle: "Packages"})
    if packages || refrigerators || w_ds
      +select({name: "addPackage", label: "Add a Package", value: bodyContent ? bodyContent.addPackage : '', id: "addPackage"})
        if packages
          each package in packages
            option(value=package.id) 
              = package.name
      +select({name: "addRefridgerator", label: "Add a Refridgerator", value: bodyContent ? bodyContent.addRefridgerator : '', id: "addFridge"})
        if refrigerators
          each fridge in refrigerators
            option(value=fridge.id) 
              = fridge.name
      +select({name: "addWasherDryer", label: "Add a Washer/Dryer", value: bodyContent ? bodyContent.addWasherDryer : '', id: "addWD"})
        if w_ds
          each w_d in w_ds
            option(value=w_d.id) 
              = w_d.name
      .flex.justify-between
        p.p-6.text-sm Click on a field below to edit the value
        .py-2
          button(type="submit" class="btn w-full") Generate PDF
    +table({columns: tableCols, rows: tableRows, id: "packageTable"})

      
