include ../mixins/card
include ../mixins/inputs

mixin tradePartners(bodyContent)
  +card({cardTitle: "Trade Partner Information"})
    +input({label: "Project Name", name: "projectName", value: bodyContent ? bodyContent.projectName : '', placeholder: "Community Name"})
    +input({label: "Account Number", name: "accountNumber", value: bodyContent ? bodyContent.accountNumber : ''})
    +input({label: "Quote Number", name: "quoteNumber", value: bodyContent ? bodyContent.quoteNumber : ''})