fieldset 
  legend Trade Partner Information
  label(for="projectName") Project Name 
  input(name="projectName" placeholder="Community Name")
  label(for="accountNumber") Account Number 
  input(name="accountNumber" placeholder="Account Number")
  label(for="quoteNumber") Quote Number 
  input(name="quoteNumber" placeholder="Quote Number")