div
  fieldset 
    legend Trade Partner Information
    label(for="project_Name") Project Name 
    input(name="project_Name" placeholder="Community Name")
    label(for="Account_Number") Account Number 
    input(name="Account_Number" placeholder="Account Number")
    label(for="Quote_Number") Quote_Number 
    input(name="Quote_Number" placeholder="Quote Number")