include ../mixins/card
include ../mixins/inputs

mixin deliveryAddress(bodyContent)
 +card({cardTitle: "Delivery Address"})
    +input({name: "address", label: "Address", value: bodyContent ? bodyContent.address : ''})
    +input({name: "lotBlock", label: "Lot and Block", value: bodyContent ? bodyContent.lotBlock : ''})
    +input({name: "city", label: "City", value: bodyContent ? bodyContent.city : ''})
    +input({name: "state", label: "State", value: bodyContent ? bodyContent.state : ''})
    +input({name: "zip", label: "Zip", value: bodyContent ? bodyContent.zip : ''})