extends layout
include mixins/card

block content
  div(class="text-center mx-auto bg-blue")
    h1.font-bold.py-10.text-white Electrolux Order Management System
    h2(class="py-6 text-white w-1/2 mx-auto")
      | Streamline your Electrolux appliance orders with our digital form system. Generate and email order forms directly to our Electrolux partners.
  div(class="flex flex-wrap justify-center py-24 gap-10 w-1/2 mx-auto")
    if currentUser
        +card({cardTitle: "Order Form", cardSubTitle: "Generate a new Electrolux order form in minutes", cardLink: {linkText: "Create New Order", linkUrl: "/orderform"}, className: "basis-1/4"})
        +card({cardTitle: "Order History", cardSubTitle: "Access your previously created order forms", cardLink: {linkText: "View History", linkUrl: "/history"}, className: "basis-1/4"})
        +card({cardTitle: "Form Templates", cardSubTitle: "Manage your templates created", cardLink: {linkText: "View Templates", linkUrl: "/orderform/templates"}, className: "basis-1/4"})
        if currentUser.superAdmin
          +card({cardTitle: "Users", cardSubTitle: "Manage users", cardLink: {linkText: "View Users", linkUrl: "/users/"}, className: "basis-1/4"})
        if currentUser.admin
          +card({cardTitle: "Packages", cardSubTitle: "Manage Packages and Items", cardLink: {linkText: "Manage Packages", linkUrl: "/packages/edit"}, className: "basis-1/4"})
    else
        +card({cardTitle: "Login", cardSubTitle: "Login to access the Electrolux Order Management System", cardLink: {linkText: "Login", linkUrl: "/auth/login"}})