extends layout
include orderForm/deliveryAddress
include orderForm/deliveryContactInfo
include orderForm/packageInfo
include orderForm/tradePartnerInfo

block content
  form(action="/pdf" method="POST")
    div(class="flex flex-wrap w-full justify-around gap-4")
      +deliveryContact
      +deliveryAddress
      +packageInfo
      +tradePartners
    button(type="submit" class="px-2 py-4") Generate PDF
  