extend layout
include mixins/table

block content
  div.flex.flex-col
    div.flex.px-10.justify-between.text-center
      h1.text-4xl.font-bold.py-10 Order History
      div.py-10
        a(href="/" class="btn-outline")
          | Back to Home
    div.px-10.w-full
      +table({
        columns: [
          {name: "Id", selector: "id"},
          {name: "Order Data", selector: "formattedOrderData", truncated: true, truncateLength: 20},
          {name: "Created At", selector: "createdAt"},
          ],
        rows: orders,
        currentPage,
        actions: [
          {name: "Export to PDF", link: "/pdf", class: "text-blue", method: "POST", dataSelector: "orderData"}], totalRows: totalCount,
          rowsPerPage: 20})