include ../orderForm/deliveryAddress
include ../orderForm/deliveryContactInfo
include ../orderForm/packageInfo  
include ../orderForm/tradePartnerInfo

form
  div(class="flex flex-wrap w-full justify-around gap-4 print:gap-0")
    +deliveryContact(bodyContent)
    +deliveryAddress(bodyContent)
    +tradePartners(bodyContent)
  div.py-4.break-inside-avoid
    +packageInfo({packageItems, fridgeItems, w_dItems})
