extends ../layout
include ../orderForm/deliveryAddress
include ../orderForm/deliveryContactInfo
include ../orderForm/packageInfo  
include ../orderForm/tradePartnerInfo


block content
  form
    div(class="flex flex-wrap w-full justify-around gap-4")
      +deliveryContact(bodyContent)
      +deliveryAddress(bodyContent)
      +tradePartners(bodyContent)
      +packageInfo({packageItems, fridgeItems, w_dItems})
