extends ../layout

block content
  form
    include ../orderForm/tradePartnerInfo
    include ../orderForm/deliveryContactInfo
    include ../orderForm/deliveryAddress
    include ../orderForm/packageInfo
  