include ../orderForm/deliveryAddress
include ../orderForm/deliveryContactInfo
include ../orderForm/packageInfo  
include ../orderForm/tradePartnerInfo

div.text-center.text-4xl.font-bold.py-10 Bloomfield Homes - Electrolux Order Form
form
  div(class="flex flex-wrap w-full justify-around gap-4 print:gap-0")
    +deliveryContact(bodyContent)
    +deliveryAddress(bodyContent)
    +tradePartners(bodyContent)
  div.py-4
    +packageInfo({packageItems, fridgeItems, w_dItems})
