include table/header
include table/body
include table/pagination

mixin table({columns, rows, id, actions, currentPage = 1, rowsPerPage = 10, totalRows, height = "full"})
  - const totalPages = Math.ceil(totalRows / rowsPerPage);
  - const paginatedRows = rows;
  script(src="/js/string.bundle.js")
  script(src="/js/tableActions.bundle.js")
  div(class=`flex flex-col break-inside-auto overflow-y-scroll scrollbar h-${height}`)
    div(class=`-m-1.5`)
      div(class=`p-1.5 min-w-full inline-block align-middle`)
        div(class="overflow-hidden")
          table(class=`min-w-full divide-y divide-gray-200` id=id)
            +tableHeader(columns, actions)
            +tableBody(columns, paginatedRows, actions)
        +pagination(currentPage, totalPages)