extends layout

block content
  form(action="/pdf" method="POST")
    label(for="project_Name") Project Name 
    input(name="project_Name" placeholder="Community Name")
    label(for="Account_Number") Account Number 
    input(name="Account_Number" placeholder="Account Number")
    label(for="Quote_Number") Quote_Number 
    input(name="Quote_Number" placeholder="Quote Number")
    label(for="Contact_Name") Contact Name 
    input(name="Contact_Name" placeholder="Contact Name")
    label(for="Delivery_Phone") Delivery Phone
    input(name="Delivery_Phone" placeholder="Delivery Phone")
    label(for="Contact_Email") Contact Email
    input(name="Contact_Email" placeholder="Contact Email")
    label(for="Request_Delivery_Date") Request Delivery Date
    input(name="Request_Delivery_Date" placeholder="Request Delivery Date")
    label(for="Address") Address
    input(name="Address" placeholder="Address")
    label(for="Lot_and_Block") Lot and Block
    input(name="Lot_and_Block" placeholder="Lot and Block")
    label(for="City") City 
    input(name="City" placeholder="City")
    label(for="State") State
    input(name="State" placeholder="State")
    label(for="Zip") Zip
    input(name="Zip" placeholder="Zip")
    label(for="Add_a_Package") Add a Package
    input(name="Add_a_Package" placeholder="Add a Package")
    label(for="Add_a_Refridgerator") Add a Refridgerator
    input(name="Add_a_Refridgerator" placeholder="Add a Refridgerator")
    label(for="Add_a_Washer_Dryer") Add a Washer/Dryer
    input(name="add_a_washer_dryer" placeholder="Add a Washer/Dryer")
    button(type="submit") Generate PDF
  