extends layout

block content
  form(action="/pdf" method="POST")
    include orderForm/tradePartnerInfo
    include orderForm/deliveryContactInfo
    include orderForm/deliveryAddress
    include orderForm/packageInfo
    button(type="submit") Generate PDF
  