div
  fieldset
    legend Delivery Address
    label(for="Address") Address
    input(name="Address" placeholder="Address")
    label(for="Lot_and_Block") Lot and Block
    input(name="Lot_and_Block" placeholder="Lot and Block")
    label(for="City") City 
    input(name="City" placeholder="City")
    label(for="State") State
    input(name="State" placeholder="State")
    label(for="Zip") Zip
    input(name="Zip" placeholder="Zip")