div
  fieldset 
    legend Delivery Contact
    label(for="Contact_Name") Contact Name 
    input(name="Contact_Name" placeholder="Contact Name")
    label(for="Delivery_Phone") Delivery Phone
    input(name="Delivery_Phone" placeholder="Delivery Phone")
    label(for="Contact_Email") Contact Email
    input(name="Contact_Email" placeholder="Contact Email")
    label(for="Request_Delivery_Date") Request Delivery Date
    input(name="Request_Delivery_Date" placeholder="Request Delivery Date")